<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href=/admin/home class="brand-wrap">
            <img src="assets/imgs/theme/Majestic.png" class="logo" alt="Majestic Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/home">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/userlist">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/product">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-add_box"></i>
                    <span class="text">Categories</span>
                </a>
               
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Orders</span>
                </a>
    
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupon</span>
                </a>

            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banner">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Banner</span>
                </a>
            </li>
            
        </ul>
    </nav>
</aside>